<% content_for :body do %>
  <ul id="teams">
    <% @teams.each do |team| %>
      <li>
        <%= link_to team.title, refinery.teams_team_path(team) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
